# Тарифы группы A (Транс-Агро), у.е.=USD. Группы B и C имеют другую структуру прайса — будут добавлены позже.
A_ESCORT_VESSEL_MEETING_DEPARTURE_CARGO_CANAL=0
A_ESCORT_VESSEL_MEETING_DEPARTURE_CARGO_CANAL_ICE=0
A_BARGE_TOWING_CANAL=0
A_BARGE_TOWING_CANAL_ICE=0
A_MOORING_UNMOORING_GT_2000_ABOVE=0.0
A_MOORING_UNMOORING_GT_2000_ABOVE_ICE=0.0
A_VESSEL_REPOSITIONING_GT_2000_ABOVE=0
A_VESSEL_REPOSITIONING_GT_2000_ABOVE_ICE=0
A_MOORING_UNMOORING_GT_BELOW_2000_WEEKDAYS=0
A_MOORING_UNMOORING_GT_BELOW_2000_HOLIDAY_NIGHT=0
A_MOORING_UNMOORING_GT_BELOW_2000_ICE_WEEKDAYS=0
A_MOORING_UNMOORING_GT_BELOW_2000_ICE_HOLIDAY_NIGHT=0
A_VESSEL_REPOSITIONING_GT_BELOW_2000_WEEKDAYS=0
A_VESSEL_REPOSITIONING_GT_BELOW_2000_HOLIDAY_NIGHT=0
A_VESSEL_REPOSITIONING_GT_BELOW_2000_ICE_WEEKDAYS=0
A_VESSEL_REPOSITIONING_GT_BELOW_2000_ICE_HOLIDAY_NIGHT=0
A_ESCORT_TOWING_GT_BELOW_2000_ICE_WEEKDAYS=0
A_ESCORT_TOWING_GT_BELOW_2000_ICE_HOLIDAY_NIGHT=0
A_ICE_BREAKING_TUG_VESSEL_APPROACH_DEPARTURE=0
A_VESSEL_MAINTENANCE_SERVICES=0
A_OFFSHORE_FACILITIES_MAINTENANCE_SERVICES=0
